.displacement_sphere {
    position: absolute !important;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    inset: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: var(--bezierFastoutSlowin);
    overflow: hidden;
    z-index: -1;
}

.displacement_sphere__active {
    opacity: 1;
}